@font-face {
  font-family: 'HelveticaNeue-Black';
  src: url('HelveticaNeue-Black.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Black.otf')  format('opentype'),
	     url('HelveticaNeue-Black.woff') format('woff'), url('HelveticaNeue-Black.ttf')  format('truetype'), url('HelveticaNeue-Black.svg#HelveticaNeue-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Medium.otf')  format('opentype'),
	     url('HelveticaNeue-Medium.woff') format('woff'), url('HelveticaNeue-Medium.ttf')  format('truetype'), url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

